---
interface Props {
	upperTitle: string;
	isHome?: boolean;
}
const { upperTitle, isHome = true } = Astro.props;
---

<p class="gn-txt medium">
	<a href="/portfolio">
		{
			isHome && (
				<svg class="icon">
					<use href="/portfolio/home.svg#home-icon"></use>
				</svg>
			)
		}
        
    </a>
    <a href={isHome ? "/portfolio" : "/portfolio/proyectos"}>{upperTitle} {!isHome && (<span>&rarr;</span>)}</a>
</p>
<style>
	p {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		vertical-align: sub;
	}
	.gn-txt {
		color: #14591d;
	}
	.medium {
		font-weight: 400;
		font-size: 24pt;
	}
	.icon {
		color: #14591d;
		width: 24pt;
		height: 24pt;
	}
</style>
